<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<div>
    <h1>Add a time slot:</h1>
    <form action="#" th:action="@{/add-timeSlot}" th:object="${timeSlotDTO}" method="post">
        <fieldset>
            <input type="submit" id="submitButton" th:value="Ajouter">
            <div>
                <label>Date: </label>
                <input type="text" id="date" th:field="*{date}">
            </div>
            <div>
                <label>Start Time: </label>
                <input type="text" id="heureDebut" th:field="*{startTime}">
            </div>
            <div>
                <label>End Time: </label>
                <input type="text" id="heureFin" th:field="*{endTime}">
            </div>
        </fieldset>
    </form>
</div>

</html>
