<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Heure de début</th>
            <th>Heure de fin</th>
        </tr>
    </thead>
    <tbody>
        <tr th:if="${creneaux.empty}">
            <td colspan="2">Pas de créneaux disponible</td>
        </tr>
    <tr th:each="creneau : ${creneaux}">
        <td><span th:text="${creneau.date}">Date</span></td>
        <td><span th:text="${creneau.startTime}">Start Time</span></td>
        <td><span th:text="${creneau.endTime}">End Time</span></td>
    </tr>
    </tbody>
</table>

</html>
