<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Available time slots:</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div  class="container mt-4">
        <div class="col-md-4" th:each="timeSlot : ${timeSlots}">
            <div class="card">
                <div class="card-body">
                    <p class="card-text" th:text="'Date: ' + ${timeSlot.date}"></p>
                    <p class="card-text" th:text="'From: ' + ${timeSlot.startTime}"></p>
                    <p class="card-text" th:text="'To: ' + ${timeSlot.endTime}"></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
